# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

src/
.python-version
pyproject.toml
requirements-dev.lock
requirements.lock
.venv
.vscode


# Serverless directories
.serverless